.view{
	width: 100%;
	height: 250px;
}
body{
	margin: 0;
}
._24_percent{
	background-color: #1b2ebb;
	width: 24.4%;
	float: left;
	height: 60px;
	text-align: center;
	margin: 0.3%;
}
.number_container{
	position: absolute;
	bottom: 0px;
	background: black;
	width: 100%;
	margin-bottom: -3.5%;
}
.num{
	font-size: 30px;
	font-weight: bold;
	color: white;
	position: relative;
	top: 20%;
	transform: translateY(-20%);
}
.light_blue{
	background-color: #4b5bd6;
}
.green{
	background-color: #1edc1e;
}
.pressed{
	background-color: #c9cad4;
	color: white;
}

#numer_input_1, #numer_input_2{
		float: right;
		display: block;
		font-size: 50px;
		font-weight: bold;
		color: black;
}
